<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aybolh3.colormixer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <!-- اسم التطبيق والمعلومات الأساسية -->
    <name>ColorMixer</name>
    <description>تطبيق استوديو خلط الألوان ومعيار الأغطية</description>
    <author email="dev@example.com" href="https://github.com/aybolh3">ayb</author>
    
    <!-- الصفحة الرئيسية -->
    <content src="index.html" />
    
    <!-- الصلاحيات والتوجيه -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <!-- إعدادات منصة الأندرويد والأيقونات -->
    <platform name="android">
        <allow-intent href="market:*" />
        
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="KeepRunning" value="true" />
        
        <!-- الصورة الداخلية التلقائية (داخل مجلد www) -->
        <icon src="www/cap-logo.png" />

        <!-- الأيقونات الخارجية لشاشة الهاتف الرئيسية (mipmap) -->
        <icon density="hdpi" src="res/mipmap-hdpi/ic_launcher.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>

    <!-- إعدادات الشاشة والتوجيه -->
    <preference name="ScrollEnabled" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />

</widget>
